<div class="container">
    <form [formGroup]="UpdateregularNoteForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="text">text</label>
            <textarea class="form-control" formControlName="text" rows="3"></textarea>
            <div *ngIf="UpdateregularNoteForm.get('text')?.touched">
                <div *ngIf="UpdateregularNoteForm.get('text')?.hasError('required')" class="text-danger">
                        required and max length 100 char
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>