




<div class="container">
    <form [formGroup]="SearchFlightForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label >Origin</label>
            <div class="ng-autocomplete">
                <ng-autocomplete
                 formControlName="Origin"
                 (keyup)="onKeySearch($event)"
                  [data]="airports"
                  [searchKeyword]="keyword"
                  placeholder="Enter the State Name"
                  historyIdentifier="airports"
                  [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>
              
                <ng-template #itemTemplate let-item>
                  <div class="item">
                    <span [innerHTML]="item.SearchString"></span> ;
                    <span>{{item.AirportCode}}</span>
                  </div>
                </ng-template>
              
                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
        </div>
        
        <div class="form-group">
            <label >Destination</label>
            <div class="ng-autocomplete">
                <ng-autocomplete
                 formControlName="Destination"
                  (keyup)="onKeySearch($event)"
                  [data]="airports"
                  [searchKeyword]="keyword"
                  placeholder="Enter the State Name"
                  [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>
              
                <ng-template #itemTemplate let-item  >
                  <div class="item">
                    <span [innerHTML]="item.AirportCode"></span>
                  </div>
                </ng-template>
              
                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
        </div>

        <div class="form-group">
            <label>DepartureDate</label>
            <input type="date" formControlName="DepartureDate" class="form-control" />
        </div>

        <div class="form-group">
            <label>Class Type</label>
            <select class="form-control" name="Class" formControlName="ClassType">
                <option value="Economy">Economy</option>
            </select>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label>NoOfInfant</label>
                    <select class="form-control" name="Class" formControlName="NoOfInfant">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <div class="col">
                    <label>no of child</label>
                    <select class="form-control" name="Class" formControlName="NoOfChildren">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <div class="col">
                    <label>no of Adults</label>
                    <select class="form-control" name="Class" formControlName="NoOfAdult">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Searchs</button>
    </form>
</div>
